**/.idea/*
**/.settings/*
**/node_modules/*
**/test-results/*
*.log
**/.DS_Store
*.tokens
travis.yml
prompto-libraries
prompto-tests
transpiled.js
generated
JavaScript-Core/src/generated-saved
JavaScript-Core/src/test/prompto/perf/*
