**/.idea/*
**/.settings/*
**/node_modules/*
**/test-results/*
*.log
**/.DS_Store
*.tokens
travis.yml
prompto-libraries
prompto-tests
transpiled.js
generated
**/*.js
**/*.js.map
!**/prompto/*.js
!**/prompto/intrinsic/*.js
**/generated-saved/*
**/prompto/perf/*
**/.clinic/*
init.js
index-full.js
